.contacts {
    display: flex;
    flex-direction: column;
    align-items:flex-end

}

.contacts_tel {
    
    font-size: 26px;
    line-height: 20px;
    display: inline;
}

.contacts_working_hours {
    margin-top: 5px; 
    font-size: 13px; 
   
}

.contacts_working_hours-text {
    font-style: italic; 
}