.contacts {
    display: flex;
    flex-direction: column;
    align-items:flex-end

}

.contacts__tel {
    
    font-size: 26px;
    line-height: 20px;
    display: inline;
}

.contacts__working-hours {
    margin-top: 5px; 
    font-size: 13px;   
}
 
.contacts__free-call {
font-size: 11px;
line-height: 20px;
color:darkgrey ;
}