.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer__socials {
    text-align: center;
    gap: 20px;
}
.socials {
    display: flex;
}