
menu {
   display: flex;
}
.menu__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu__item {
    margin-right: 54px; 
}

.menu__link {
    text-decoration: none;
    color: white; 
    padding: 0; 
}